Lets check N60 and their corresponding shear strength

<h3>C</h3>
Expected:
<table>
    <tr><th>N60</th><th>q<sub>u</sub></th></tr>
    <tr><td>&lt;2</td><td>&lt;25</td></tr>
    <tr><td>2-8</td><td>25-80</td></tr>
    <tr><td>8-15</td><td>80-150</td></tr>
    <tr><td>15-30</td><td>150-400</td></tr>
    <tr><td>&gt;30</td><td>&gt;400</td></tr>
</table>

In [1]:
import resources #Must be 1st line
import pandas as pd
from blcalc.material import Material

Note: The unconfined compressive strength value is two times undrained shear strength. The
ultimate bearing capacity is approximately six times the undrained shear strength where C in
CNc is the undrained shear strength. The value of Nc is 5.14 and 5.7 respectively by
Meyerhof and Terzaghi.

In [2]:
datas = {'N60': [], 'qu': [], 'c': [], 'c_program': []}
for N60 in range(32):
    datas['N60'].append(N60)
    qu=Material.qu(N60)
    datas['qu'].append(qu)
    datas['c'].append(qu/2)
    mat=Material({'depth':0,'n60':N60, 'GI':'C'})
    datas['c_program'].append(mat._get_cu())
pd.DataFrame(datas)

    N60          qu           c   c_program
0     0    0.000000    0.000000    0.000000
1     1   29.000000   14.500000   14.500000
2     2   47.768279   23.884140   23.884140
3     3   63.962481   31.981241   25.000000
4     4   78.683051   39.341525   25.000000
5     5   92.396687   46.198344   46.198344
6     6  105.357850   52.678925   52.678925
7     7  117.724970   58.862485   58.862485
8     8  129.605308   64.802654   64.802654
9     9  141.075827   70.537913   80.000000
10   10  152.194163   76.097082   80.000000
11   11  163.004927   81.502463   81.502463
12   12  173.543557   86.771779   86.771779
13   13  183.838815   91.919407   91.919407
14   14  193.914455   96.957227   96.957227
15   15  203.790392  101.895196  101.895196
16   16  213.483535  106.741767  150.000000
17   17  223.008400  111.504200  150.000000
18   18  232.377568  116.188784  150.000000
19   19  241.602036  120.801018  150.000000
20   20  250.691492  125.345746  150.000000
21   21  259.654522  129.827261  150.000000
22   22  268.498787  134.249394  150.000000
23   23  277.231159  138.615579  150.000000
24   24  285.857830  142.928915  150.000000
25   25  294.384408  147.192204  150.000000
26   26  302.815993  151.407997  151.407997
27   27  311.157238  155.578619  155.578619
28   28  319.412406  159.706203  159.706203
29   29  327.585414  163.792707  163.792707
30   30  335.679872  167.839936  167.839936
31   31  343.699118  171.849559  171.849559

<span style="color:red">Check failed</span> Looks like i don't need clamping if ok.

<h3>Phi</h3>
Expected:
<table>
    <tr><th>N60</th><th>phi</th></tr>
    <tr><td>&lt;4</td><td>&lt;30</td></tr>
    <tr><td>4-10</td><td>30-35</td></tr>
    <tr><td>10-30</td><td>35-40</td></tr>
    <tr><td>30-50</td><td>40-45</td></tr>
    <tr><td>&gt;50</td><td>&gt;45</td></tr>
</table>

In [3]:
datas = {'N60': [], 'phi': [], 'phi_program': []}
for N60 in range(0, 60, 5):
    datas['N60'].append(N60)
    datas['phi'].append(Material.phi(N60))
    mat=Material({'depth':0,'n60':N60, 'GI':'S'})
    datas['phi_program'].append(mat._get_phi())
pd.DataFrame(datas)

    N60      phi  phi_program
0     0  27.1000      27.1000
1     5  28.5865      28.5865
2    10  30.0460      30.0460
3    15  31.4785      31.4785
4    20  32.8840      32.8840
5    25  34.2625      34.2625
6    30  35.6140      35.6140
7    35  36.9385      36.9385
8    40  38.2360      38.2360
9    45  39.5065      39.5065
10   50  40.7500      40.7500
11   55  41.9665      41.9665

<span style="color:red">Check failed</span>